<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>

    <main>
        <div class="dashboard">
            <div class="btn-signout pull-right row">
                <a class="btn btn-primary" href="/admin/logout">Thoát</a>
            </div>
            <%- include('../partials/'+page) %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>